.MuiDataGrid-main {
  height: 1200px;
  max-width: 400px;
  overflow: hidden !important;
}

.MuiDataGrid-root {
  border: none !important;
  overflow: auto !important;
}

.MuiDataGrid-virtualScroller {
  overflow: auto !important;
}

.MuiDataGrid-withBorder {
  border: none;
}

.grid-cell {
  color: #333;
}

.grid-header {
  color: #333;
}

.region:hover {
  stroke: rgb(202, 201, 201);
  stroke-width: 3px;
  fill: red;
  cursor: pointer;
}
